.env
/venv/
.idea/
__pycache__/
/dariedu/credentials.json
service_key.json

# Google drive
client_secrets.json
token.json
photo_report
settings.yaml

# User photo
avatars
/dariedu/dariedu/.env
/dariedu/credentials.json
/dariedu/dariedu/credentials.json
/media/
